body{
	background-color:black;
}

div.container p.name{
	color:white;
	margin-top:330px;
	font-size:25px;
	text-align:center;
}

div.container ul{
	margin-left:380px;
}

div.container ul li{
	padding-top:15px;
	padding-right:10px;
}

div.container ul li a.menu{
	color:white;
	list-style-type:none;
	text-decoration:none;
	font-size:18px;
	opacity:0.60;
	
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition:all 600ms;  
	
}

div.container ul li a:hover{
	cursor:pointer;
	opacity:1;
	
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition:all 600ms;  
}

div.container ul li img{
	opacity:0.80;
}

/*--------------Pathologyt psge------------*/

div.left-menu{
	width:250px;
	min-height:800px;
	float:left;
	display:block;
	background-color:#2b2b2b;
	position:fixed;
	margin-left:50px;
	z-index:-5;
	overflow:hidden;
}

div.left-menu menu{
	margin-top:210px;
	white-space:nowrap;
}

div.left-menu ul li.list{
	font-family:Arial,Helvetica,sans-serif; 
	font-size: 20px;
	list-style-type: none; 
	text-align:center;
	padding:15px 0px 15px 0;
	border-bottom:1px solid #515151;
}

div.left-menu ul li.list:first-child{
	border-top:1px solid #515151;
}

div.left-menu ul li a{
	color:black;
	text-decoration:none;
	text-transform:capitalize;
	padding:2px 50px 2px 50px;
	text-align:center;
	opacity:0.60;
	
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition:all 600ms;  
}
	
div.left-menu ul li a:hover{
	cursor: pointer;
	color:#b2b2b2;

	
	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition:all 600ms;  

}